html{
    background-color: whitesmoke;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; /* RIT approved font stack for web */
}

body{
    margin: 0%;
}

/*--- Header CSS ---*/

header{
    background-color: white;
    display: flex;
    justify-content: center;
}

#logo{
    max-height: fit-content;
    padding: 1%;
}

/*--- End Header CSS ---*/
/*--- Title CSS ---*/

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

#title{
    margin-bottom: 0;
    font-size: xx-large;
}

#subtitle{
    margin-top: 0;
    font-size: x-large;
}

/*--- End Title CSS ---*/
/*--- Questions CSS ---*/

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q-box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
    width: 50%;
    padding: 2%;
    margin: 1%;
}

.q-section-title{
    font-weight: bold;
    margin-top: 0;
}

.question{
    margin-top: 0;
}

/*--- End Questions CSS ---*/

/* Set display layout for tablets and mobile devices */

@media screen and (max-width: 800px){
    #title{
        font-size: x-large;
    }
    
    #subtitle{
        font-size: large;
    }

    #logo{
        max-width: 60%;
    }

    .q-box{
        width: 75%;
    }
}

@media screen and (max-width: 400px){
    #title{
        font-size: large;
    }
    
    #subtitle{
        font-size: medium;
    }

    .q-box{
        width: 90%;
    }
}